@charset "utf-8";
/* CSS Document */
article{
    width:1200px;
    margin: 25px auto 0px;
}
article p:first-child{
    float: right;
    line-height: 18px;
    font-size: 14px;
    color: rgb(113, 113, 113);
    font-family:宋体;
    display: block;
}
.intit{
    text-align: center;
    margin-top: 30px;
    clear:both;
}
.intit h2{
    display: flex;
    justify-content:center;
    align-items: center;
    line-height: 50px;
}
.intit em{
    font-size: 24px;
    font-style: normal;
    color: #000;
    font-weight: normal;
    margin:0 5px;
    font-family: Verdana;
}
.intit h2 span{
    font-size: 34px;
    font-weight: bold;
    color: #5a5a5a;
    margin: 0 5px;
    letter-spacing: -1px;
    text-transform: uppercase;
    font-family: Verdana;
}
.intit dd{
    height: 8px;
    width: 70px;
    border-top: 2px solid #cbcbcb;
    margin: 0 auto;
}
.intit dl{
    color: #3c3c3c;
    line-height: 18px;
    font-size: 12px;
}
.intit span{
    color: #b0b0b0;
    font-family: Arial;
    line-height: 14px;
    font-size: 12px;
}
/*表格部分*/
.body{
    width: 1200px;
    height: 1180px;
    padding-top:20px;
    margin: 0 auto 38px;
    background-color: rgb(247, 244, 244);
}
.main{
    width:800px;
    margin:0 auto;
    -webkit-box-shadow: 0 2px 5px 1px rgba(124,124,124,.2);
    background:#fff;
}
.main_top{
    width:100%;
    height: auto;
    min-height: 62px;
    padding: 15px 0px;
    color: #FFF;
    margin-bottom: 12px;
    text-align:center;
    background: rgb(157, 41, 51) url(../img/header_bg_yanZhi.png) repeat-x center 100%;
}
.main_top div:first-child{
    width:760px;
    height:33px;
    font-size:24px;
    margin: 0 auto;
    font-weight:700;
}
.main_top div:last-child{
    width:760px;
    height:19px;
    margin-top:10px;
    font-size:14px;
}
.main_body{
    width:760px;
    margin: 0 auto;
}
.main_text{
    width: 740px;
    margin:  0 auto;
    padding:16px 0;
    border-top:1px solid #D3D3D3;
}
.main_text ul{
    width:100%;
    height: 29px;
    margin-left: -31px;
    padding:15px 30px 15px 30px;
    display: block;
}
.main_text ul li{
    width:172px;
    height: 29px;
    display:flex;
    float: left;
    line-height: 29px;
    font-size: 14px;
    color: #000;
}
  .main_text ul:hover{
    background: rgba(0,0,0,.02);
}
.main_text ul li:first-child{
    width: 37px;
    font-size:16px;
    margin-right: 15px;
}
.main_text ul li input{
    width:13px;
    height: 13px;
    display: block;
    align-self:center;
    float: left;
    margin-right:5px;
    border:1px solid #C5C5C6;
}
.name{
    width:100%;
    height: 59px;
    margin-left: -30px;
    padding:15px 30px 15px 30px;
    display: block;
}
.name i{
    font-style:normal;
    color:#DA2824;
}
.name input{
    display: block;
    width:553px;
    height: 31px;
    line-height: 31px;
    color: #999;
    padding-left: 22px;
    margin: 6px 0 0 15px;
    border: 1px solid #D3D3D3;
    font-size:14px;
}
.name:hover{
    background: rgba(0,0,0,.02);
}
figure{
    width: 736px;
    height: 300px;
    margin: 0 auto;
    padding: 1px;
    border: 1px solid #D3D3D3;
}
.button{
    width: 68px;
    padding:74px 0 20px 0;
    height:30px;
    margin: 0 auto;
}
.button button{
    height:30px;
    width: 68px;
    text-align:center;
    line-height: 30px;
    background: #9D2933;
    color: #FFF;
    border:hidden;
    border-radius: 2px;

}